$brand-primary: #7397F5;
$tech-white: #FFF;
$font-primary: #333;
$font-secondary: #AAA;
$tech-scroll-bar: #F2F2F2;
$font-hover: #125BAE;
$tech-borderand-others: #D5D5D5;
$font-background-hover: #E2EFFF;
$header-border: #73AFF4;
